@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

:root {
  --mainColor: #450920;
  --secondaryColor: #fff;
  --secondaryFontColor: #eaf8bf;
}

#nav-container {
  display: flex;
  flex-direction: column;
}
#nav-content-1 {
  display: flex;
  justify-content: space-between;
  height: 150px;
}
#nav-content-1 img {
  height: 100%;
  padding: 0.5rem;
}
.active {
  background-color: var(--secondaryFontColor);
  color: var(--mainColor);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  position: sticky;
  top: 0;
}

nav .title {
  font-size: 1.2rem;
  margin: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--secondaryColor);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--secondaryColor);
  padding: 0.75rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: var(--secondaryColor);
  color: var(--mainColor);
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

nav ul {
  margin-bottom: 0;
}

#settings {
  display: flex;
}
nav ul li.submenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.75rem;
  margin: 0 0;
  border-radius: 0.5rem;
}
nav ul li.submenu a:not(.active):hover {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.75rem;
  background-color: #915467;
  margin: 0 0;
  border-radius: 0.5rem;
}
#observatorio-menu {
  position: absolute;
  display: none;
}

#observatorio-menu.open {
  display: flex;
  background-color: white;
  flex-direction: column;
}
@media (max-width: 720px) {
  nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #observatorio-menu {
    position: relative;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    padding: 0;
  }

  #close {
    display: none;
  }
  #close.open {
    display: flex;
  }
  #bars.open {
    display: none;
  }

  nav ul li {
    width: 100%;
    height: 100%;
    
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
  #nav-content-1 {
    align-items: center;
  }
  #nav-content-1 img {
    height: 70%;
    padding: 0.5rem;
  }

  #settings {
    display: none;
  }

  #observatorio-menu.open {
    background-color: var(--mainColor);
    color: white;
  }
  nav ul li.submenu a {
    color: white;
    border-radius: 0;
  }
  nav ul li.submenu a.active {
    color: var(--mainColor);
  }
}
