:root {
  --mainColor: #450920;
  --secondaryColor: #fff;
  --secondaryFontColor: #eaf8bf;
}

#navbar-submenu {
  background: rgb(169, 97, 112);
  background: linear-gradient(
    107deg,
    rgba(169, 97, 112, 1) 0%,
    rgba(137, 41, 67, 1) 24%,
    rgb(111, 57, 72) 100%
  );
}

div#parent-container.dark-theme #navbar-submenu {
  background: rgb(53, 78, 126);
  background: linear-gradient(
    90deg,
    rgba(53, 78, 126, 1) 0%,
    rgba(47, 61, 88, 1) 100%
  );
}

#navbar-principal .active {
  color: var(--mainColor);
  text-decoration: underline;
}
