/* Estilos por defecto */
.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .react-tabs__tab:hover {
    background-color: #f0f0f0;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  
  
  #parent-container.dark-theme .react-tabs__tab-list {
    border-bottom: 1px solid #444;
  }
  
  #parent-container.dark-theme .react-tabs__tab {
    color: #ccc;
    border-color: #444;
  }
  
  #parent-container.dark-theme .react-tabs__tab:hover {
    background-color: #333;
    color: #fff;
  }
  
  #parent-container.dark-theme .react-tabs__tab--selected {
    background: #000;
    border-color: #444;
    color: #fff;
    border-radius: 5px 5px 0 0;
  }
  
  #parent-container.dark-theme .react-tabs__tab:focus:after {
    background: transparent;
  }
  
  #parent-container.dark-theme .react-tabs__tab--disabled {
    color: #555;
  }
  
  #parent-container.dark-theme .react-tabs__tab-panel--selected {
    background-color: #1c2533;

  }
  